<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiary Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Beneficiary Management</h1>
        <!-- Beneficiary List -->
        <h3>Beneficiaries List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Policy Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for b in beneficiaries %}
                    <tr>
                        <td>{{ b.name }}</td>
                        <td>{{ b.policy_number }}</td>
                        <td>
                            <a href="{% url 'beneficiary_update' b.beneficiaryId %}" class="btn btn-warning btn-sm">Update</a>
                        </td>

                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <a href="{% url 'claim' %}">Submit a Claim</a>
        <a href="{% url 'insured_persons_list' %}">Submit a Claim</a>
       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>