{% extends 'base.html' %}
    <title>{% block title %}Update PolicyHolder{% endblock %}</title>

{% block content %}
    <h1>Update PolicyHolder</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="policyHolderId" value="{{ policyholder.policyHolderId }}">

        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ policyholder.name }}" required><br>

        <label for="address">Address:</label>
        <input type="text" name="address" value="{{ policyholder.address }}" required><br>

        <label for="contact">Contact:</label>
        <input type="text" name="contact" value="{{ policyholder.contact }}" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ policyholder.email }}" required><br>

        <button type="submit">Update PolicyHolder</button>
    </form>
{% endblock %}