{% extends 'policyholders/base.html' %}
    <title>{% block title %}PolicyHolder List{% endblock %}</title>

{% block content %}
    <h1>PolicyHolder List</h1>
    <table>
        <thead>
            <tr>
                <th>PolicyHolder ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for policyholder in policyholders %}
            <tr>
                <td>{{ policyholder.policyHolderId }}</td>
                <td>{{ policyholder.name }}</td>
                <td>{{ policyholder.address }}</td>
                <td>{{ policyholder.contact }}</td>
                <td>{{ policyholder.email }}</td>
                <td>
                    <a href="{% url 'update_policyholder' policyholder.policyHolderId %}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


